.header{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 10px 0;
    /*background: #fff;*/
    /*border-radius: 5px;*/
    /*-webkit-box-shadow: 3px 3px 10px 3px #dddddd;*/
    /*-moz-box-shadow: 3px 3px 10px 3px #dddddd;*/
    /*box-shadow: 3px 3px 10px 3px #dddddd;*/
}

.header__img{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    padding-top: 3px;
}

.header__back{
    padding: 5px 0 0 10px;
}